.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    width: 12.5rem;
    height: 9.375rem;
    margin-top: 0.3125rem;

    background: tomato;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    line-height: 9.375rem;
}

@media all and (max-width: 800px) {
    .flex-container {
        justify-content: flex-start;   
    }
}